<table>
    <tr>
        <th>ID</th>
        <th>Event</th>
        <th>Action</th>
    </tr>
    {{#each table}}
    <tr>
        <td>{{id}}</td>
        <td>{{eventName}}</td>
        <td><button>Delete</button></td>
    </tr>
    {{/each}}
</table>