<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    {{#each table}}
    <tr>
        <td>{{id}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{email}}</td>
        <td><button>Delete</button></td>
    </tr>
    {{/each}}
</table>