<table>
    <tr>
        <th>ID</th>
        <th>HackerId</th>
        <th>EventId</th>
    </tr>
    {{#each table}}
    <tr>
        
        <td>{{id}}</td>
        <td>{{hackerId}}</td>
        <td>{{eventId}}</td>
    </tr>
    {{/each}}
</table>
